<fieldset data-controller="checkbox-group" class="checkbox-demo" aria-label="Checkbox group">
  <legend class="sr-only">Parent-child checkbox group</legend>

  <div>
    <input id="stimulus-parent" type="checkbox" data-checkbox-group-target="parent" data-action="checkbox-group#parentToggle" aria-controls="stimulus-children" />
    <label for="stimulus-parent">Parent</label>
  </div>

  <div id="stimulus-children" class="checkbox-children">
    { [1, 2, 3].map((i) =>
      <div>
        <input id={`stimulus-child-${i}`} type="checkbox" data-checkbox-group-target="child" data-action="checkbox-group#childToggle" />
        <label for={`stimulus-child-${i}`}>Child {i}</label>
      </div> )}
  </div>
</fieldset>

<script>
  import { Application, Controller } from "@hotwired/stimulus"

  window.Stimulus = Application.start()

  window.Stimulus.register("checkbox-group", class extends Controller {
    static targets = [ 'parent', 'child' ]

    declare readonly parentTarget: HTMLInputElement
    declare readonly childTargets: HTMLInputElement[]

    parentToggle() {
      const checked = this.parentTarget.checked

      this.childTargets.forEach(child => child.checked = checked)
    }

    childToggle() {
      const allChecked = this.childTargets.every(child => child.checked)
      const someChecked = this.childTargets.some(child => child.checked)

      this.parentTarget.checked = allChecked || someChecked
      this.parentTarget.indeterminate = someChecked && !allChecked
    }
  })
</script>
