<fieldset data-controller="checkbox-group" class="checkbox-demo">
  <legend>
    <label>
      <input type="checkbox" data-checkbox-group-target="parent" data-action="checkbox-group#parentToggle" /> Parent
    </label>
  </legend>

  <div class="checkbox-children">
    { [1, 2, 3].map((i) =>
      <label>
        <input type="checkbox" data-checkbox-group-target="child" data-action="checkbox-group#childToggle" /> Child {i}
      </label> )}
  </div>
</fieldset>

<script>
  import { Application, Controller } from "@hotwired/stimulus"

  window.Stimulus = Application.start()

  window.Stimulus.register("checkbox-group", class extends Controller {
    static override targets = [ 'parent', 'child' ]

    declare readonly parentTarget: HTMLInputElement
    declare readonly childTargets: HTMLInputElement[]

    parentToggle() {
      const checked = this.parentTarget.checked

      this.childTargets.forEach(child => child.checked = checked)
    }

    childToggle() {
      const allChecked = this.childTargets.every(child => child.checked)
      const someChecked = this.childTargets.some(child => child.checked)

      this.parentTarget.checked = allChecked || someChecked
      this.parentTarget.indeterminate = someChecked && !allChecked
    }
  })
</script>
