<fieldset class="checkbox-demo" >
    <legend><label><input id="parent-input" type="checkbox"> Parent</label></legend>

    <div id="checkbox-children" class="checkbox-children">
        <label><input type="checkbox"> Child 1</label>
        <label><input type="checkbox"> Child 2</label>
        <label><input type="checkbox"> Child 3</label>
    </div>
</fieldset>
<script>
    const container = document.getElementById('checkbox-children');
    const parent = document.getElementById('parent-input');
    const children = [...container.getElementsByTagName('input')];

    parent.addEventListener('change', () => {
        children.map(x => x.checked = parent.checked);
    });
    children.map((x) => {
        x.addEventListener('change', () => {
            parent.checked = children.every(c => c.checked);
            parent.indeterminate = !parent.checked && children.some(c => c.checked);
        })
    });
</script>