<fieldset class=checkbox-container>
  <legend>
    <input type=checkbox id=parent-vanilla>
    <label for=parent-vanilla>Parent</label>
  </legend>

  <div class=checkbox-children>
    <div>
      <input type=checkbox id=child1-vanilla>
      <label for=child1-vanilla>Child 1</label>
    </div>

    <div>
      <input type=checkbox id=child2-vanilla>
      <label for=child2-vanilla>Child 2</label>
    </div>

    <div>
      <input type=checkbox id=child3-vanilla>
      <label for=child3-vanilla>Child 3</label>
    </div>
  </div>
</fieldset>

<script is:inline>
  for (const container of document.querySelectorAll('.checkbox-container')) {
    const parent = container.querySelector('legend > input');
    const children = [...container.querySelectorAll('.checkbox-children input')];

    parent.addEventListener('change', () => {
      for (const child of children) child.checked = parent.checked;
    });

    for (const child of children) {
      child.addEventListener('change', () => {
        parent.checked = children.every(c => c.checked);
        parent.indeterminate = !parent.checked && children.some(c => c.checked);
      });
    }
  }
</script>
