<fieldset class="checkbox-demo">
  <legend><label><input type="checkbox"> Parent</label></legend>

  <div class="checkbox-children">
    <label><input type="checkbox"> Child 1</label>
    <label><input type="checkbox"> Child 2</label>
    <label><input type="checkbox"> Child 3</label>
  </div>
</fieldset>

<script is:inline>
  for (const container of document.querySelectorAll('[data-framework="vanillajs"] .checkbox-demo')) {
    const parent = container.querySelector('legend input');
    const children = [...container.querySelectorAll('.checkbox-children input')];

    parent.addEventListener('change', () => {
      for (const child of children) child.checked = parent.checked;
    });

    for (const child of children) {
      child.addEventListener('change', () => {
        parent.checked = children.every(c => c.checked);
        parent.indeterminate = !parent.checked && children.some(c => c.checked);
      });
    }
  }
</script>
