<fieldset class="checkbox-demo">
  <legend><label><input type="checkbox"> Parent</label></legend>

  <div class="checkbox-children">
    <label><input type="checkbox"> Child 1</label>
    <label><input type="checkbox"> Child 2</label>
    <label><input type="checkbox"> Child 3</label>
  </div>
</fieldset>

<script>
import $ from 'jquery';

$('[data-framework="jquery"] .checkbox-demo').each(function() {
  const $container = $(this);
  const $parent = $container.find('legend input');
  const $children = $container.find('.checkbox-children input');

  function updateParent() {
    const total = $children.length;
    const checked = $children.filter(':checked').length;

    $parent.prop('checked', checked === total);
    $parent.prop('indeterminate', checked > 0 && checked < total);
  }

  $parent.on('change', () => {
    $children.prop('checked', $parent.prop('checked'));
  });

  $children.on('change', updateParent);
});
</script>
