<fieldset class="checkbox-demo checkbox-group">
  <legend><label><input type="checkbox" class="parent-checkbox"> Parent</label></legend>

  <div class="checkbox-children">
    <label><input type="checkbox" class="child-checkbox"> Child 1</label>
    <label><input type="checkbox" class="child-checkbox"> Child 2</label>
    <label><input type="checkbox" class="child-checkbox"> Child 3</label>
  </div>
</fieldset>

<style>
.checkbox-group {
  --accent: rgb(37 99 235);
  --check: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  --dash: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3 8h10' stroke='white' stroke-width='2'/%3e%3c/svg%3e");
}

.checkbox-group input[type="checkbox"] {
  appearance: none;
  border: 1px solid rgb(126 137 147);
  border-radius: 0.2rem;
  position: relative;
  background: transparent no-repeat center;
}

.checkbox-group:has(.parent-checkbox:not(:checked)) .child-checkbox:checked,
.checkbox-group:has(.parent-checkbox:checked) .child-checkbox:not(:checked) {
  background-color: var(--accent);
  border-color: var(--accent);
  background-image: var(--check);
}

.checkbox-group:has(.parent-checkbox:not(:checked)):has(.child-checkbox:checked):not(:has(.child-checkbox:not(:checked)))
  .parent-checkbox,
.checkbox-group:has(.parent-checkbox:checked):not(:has(.child-checkbox:checked))
  .parent-checkbox {
  background-color: var(--accent);
  border-color: var(--accent);
  background-image: var(--check);
}

.checkbox-group:has(.child-checkbox:checked):has(.child-checkbox:not(:checked))
  .parent-checkbox {
  background-color: var(--accent);
  border-color: var(--accent);
  background-image: var(--dash);
}

.checkbox-group input[type="checkbox"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px rgb(255 255 255), 0 0 0 4px rgb(59 130 246);
}
</style>
