---
import AlpineContainer from "../components/alpine/alpineContainer.astro";
import ReactContainer from "../components/react/ReactContainer.astro";
import SvelteContainer from "../components/svelte/SvelteContainer.astro";
import VanillaContainer from "../components/vanilla-js/vanillaContainer.astro";
import VueContainer from "../components/vue/vueContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="bg-slate-100 min-h-screen flex items-center justify-center p-8">
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-8 max-w-6xl mx-auto">
			<VanillaContainer />
			<AlpineContainer />
			<VueContainer />
			<ReactContainer />
			<SvelteContainer />
		</div>
	</div>
</Layout>
