<script>
	import Alpine from "alpinejs";
	Alpine.start();
</script>

<fieldset class="checkbox-demo" x-data="{
	checkboxes: [
		{ label: 'Child 1', checked: false },
		{ label: 'Child 2', checked: false },
		{ label: 'Child 3', checked: false }
	]
}">
	<legend>
		<label>
			<input
				type="checkbox"
				:checked="checkboxes.every(c => c.checked)"
				@change="checkboxes.forEach(c => c.checked = $event.target.checked)"
				x-effect="$el.indeterminate = checkboxes.some(c => c.checked) && !checkboxes.every(c => c.checked)"
			> Parent
		</label>
	</legend>

	<div class="checkbox-children">
		<template x-for="checkbox in checkboxes" :key="checkbox.label">
			<label>
				<input type="checkbox" x-model="checkbox.checked">
				<span x-text="checkbox.label"></span>
			</label>
		</template>
	</div>
</fieldset>
