---
// @ts-nocheck
---
<script src="https://unpkg.com/hyperscript.org@0.9.13"></script>

<fieldset class="checkbox-demo">
  <legend>
    <label>
      <input
        type="checkbox"
        _="on click
              set the checked of <input[type=checkbox]/> in the next <div/> to my checked
            on click from the next <div/>
              set my checked to no <input:not(:checked)/> in it
              set my indeterminate to <:checked/> in it exists and <input:not(:checked)/> in it exists"
      /> Parent
    </label>
  </legend>

  <div class="checkbox-children">
    <label><input type="checkbox" /> Child 1</label>
    <label><input type="checkbox" /> Child 2</label>
    <label><input type="checkbox" /> Child 3</label>
  </div>
</fieldset>
