---
import Alpine from "../../components/alpine/alpine.astro";
import CssOnly from "../../components/cssOnly/cssOnly.astro";
import Hyperscript from "../../components/hyperscript/hyperscript.astro";
import JQuery from "../../components/jquery/jquery.astro";
import ReactNestedCheckboxes from "../../components/react/ReactNestedCheckboxes";
import SvelteNestedCheckboxes from "../../components/svelte/SvelteNestedCheckboxes.svelte";
import Vanillajs from "../../components/vanillajs/vanillajs.astro";
import VueNestedCheckboxes from "../../components/vue/VueNestedCheckboxes.vue";
import {
	FRAMEWORKS,
	type FrameworkId,
	isValidFramework,
} from "../../config/frameworks";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
	return Object.keys(FRAMEWORKS).map((framework) => ({
		params: { framework },
	}));
}

const { framework } = Astro.params;

if (!isValidFramework(framework)) {
	return Astro.redirect("/404");
}

const frameworkId = framework as FrameworkId;
---

<Layout title={`${FRAMEWORKS[frameworkId].displayName} Test Page`}>
	<script>
		// Signal when the page is ready
		window.addEventListener('load', () => {
			// Give a small delay for frameworks to initialize
			setTimeout(() => {
				window.frameworkReady = true;
			}, 50);
		});
	</script>
	<div class="min-h-screen p-8">
		<div 
			class="framework-container" 
			data-framework={framework}
			data-framework-ready={framework}
		>
			{frameworkId === "vue" && <VueNestedCheckboxes client:only="vue" />}
			{frameworkId === "react" && <ReactNestedCheckboxes client:only="react" />}
			{frameworkId === "svelte" && <SvelteNestedCheckboxes client:only="svelte" />}
			{frameworkId === "alpine" && <Alpine />}
			{frameworkId === "jquery" && <JQuery />}
			{frameworkId === "vanillajs" && <Vanillajs />}
			{frameworkId === "hyperscript" && <Hyperscript />}
			{frameworkId === "cssOnly" && <CssOnly />}
		</div>
	</div>
</Layout> 