---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Baseline Test Page" noindex>
	<div class="min-h-screen p-8">
		<div class="framework-container" data-framework="baseline">
		</div>
	</div>
</Layout>
